/* =======
 google-fonts
=======--- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');




/* -----===
Common styles
=======--==== */
body{
   
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 1160px;
    margin: auto;
    overflow: hidden;
}
img{
    max-width: 100%;
}
/*--------=====
 header-area
=========== */
.page-header{
    background-color:#2D25A0 ;
}
.hero-img img {
    width: 556px;
    height: 430px;
}

.hero-area {
    display: flex;
    padding: 80px 0;
    align-items: center;
}
.hero-text h1 {
    font-size: 63px;
    color: #fff;
    line-height: 80px;
    margin-bottom: 27px;
}

.hero-img {
    margin-left: 33px;
}

.link-btn {
    text-decoration: none;
    padding: 10px 24px;
    background: #E02C6D;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: inline-block;
}
.link-btn:hover {
    opacity: 0.8;
    transition: 0.3s;
    color: #fff;
}
/* header-area uses transation */
.link-btn i {
    font-size: 12px;
    transition: transform 0.3s ease-out 0.3s;
}
.link-btn:hover.link-btn i {
    transform: translateX(6px);
}
/* =======----====-
Blog section
=======-----====--- */
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 27px;
    margin-top: 65px;
}
.single-blog {
    width: 320px;
    height: 485px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    cursor: pointer;
    box-sizing: border-box;
}
.single-blog:hover .thumbnail img {
    opacity: 0.8;
    color: #060606;
    transition: 0.6s ease-in-out;
}
.thumbnail {
    width: 100%;
    height: 256px;
    overflow: hidden;
    border-radius: 8px;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-blog h2 {
    margin: 10px 0;
    font-size: 27px;
    font-weight: bold;
    color: #18191F;
    line-height: 40px;
    
}
.single-blog h2:hover{
    color: #0a7ee2;
    transition: 0.3s ease-in;
}
.single-blog:hover .thumbnail img {
    opacity: 0.8;
    color: #060606;
    transition: 0.4s ease-out;
}
.single-blog p {
    text-align: justify;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
    line-height: 24px;
    height: 116px;
    overflow: hidden;
}
.readmore-btn {
    font-weight: 400;
    color: #373737;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    padding: 3px;
    font-size: 15px;
}
.readmore-btn i {
    font-size: 10px;
    padding-left: 1px;
    transition: transform 0.2s ease-out 0.1s;
}
.single-blog:hover .readmore-btn i {
    transform: translateX(6px);
}
.single-blog:hover .readmore-btn {
    color: #0a7ee2;
    transition: 1s;
}
/*=======-===
 Highlight-Area
 =======---=== */
 .highlight-area {
    display: flex;
    align-items: center;
    margin: 150px 0;
}

.highlight-text h1 {
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
    margin: 8px 0;
}

.highlight-text p {
    width: 404px;
    text-align: justify;
    margin-bottom: 22px;
}

/* =======-
gallary
======= */
#gallery {
    margin: 93px auto;
}
.gallery-heading{
    color: #173562;
    
}
.photo-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.photo-1 {
    width: 455px;
    height: 342px;

}

.photo-1 img, .photo img {
    width: 99%;
    height: 98%;
    object-fit: cover;
}
.photo {
    width: 273px;
    height: 205px;
}
.photo-1 img:hover {
    opacity: 0.7;
    transition: 1s;
}
.photo img:hover {
    opacity: 0.7;
    transition: 1s;
}

/* =======----
Tournament-area
=======------- */
#tournament{
    background: #7a2d65;
    color: #fff;
    padding: 30px 0;
}
.tournament-heading,
.gallery-heading{
    font-size: 23px;
    text-transform: uppercase;
    
}


.stats-boxlist {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.box-content {
    background-color: rgba(0,0,0,.3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 144px;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 1px 11px;
}

.grid-box {
    width: 23%;
    margin-bottom: 16px;
}

.stats-lebel {
    font-size: 18px;
    color: rgba(255,255,255,.8);
}

.stats-value {
    color: #7a2d65;
    font-size: 60px;
    font-weight: 600;
}

span.stats-facts {
    font-size: 24px;
}

.stats-bar {
    height: 4px;
    width: 100%;
    background-color: #7a2d65;
    display: grid;
    position: relative;
    bottom: 10px;
}

.stats-bar-filter {
    background-color: #7a2d65;
    border-radius: 50px;
    height: 4px;
}
.stats-lebel.gray {
    color: #969292;
}
.gray {
    color: #bbb1b1;
}

.start-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats-player {
    font-size: 23px;
    font-weight: 600;
}


.stats-player-headshort img {
    width: 50px;
    height: 50px;
    border-radius: 54%;
}
a.goals-btn {
    text-decoration: none;
    color: #f9daf2;
    background-color: #731f5c;
    padding: 11px 49px;
    border: 2px solid;
    border-radius: 26px;
    font-size: 18px;
    display: inline-block;
    text-transform: capitalize;
    transition: 0.5s ease;
}

a.goals-btn:hover {
    background-color: #551f47;
}

/*=============
 Footer-area
============== */
.footer-area {
    padding: 75px 0;
}
.allcontent {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.footer-logo img {
    width: 480px;
    height: 110px;
}
.social-menu ul {
    transform: translate(1%, -26%);
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}
.social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: 0.6%;
    color: #969BAB;
}
.social-menu ul li .fa:hover{
   color: #fff;
}
.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}
.social-menu ul li a:hover{
    transform:translate(0, -10px) ;
}
.social-menu ul li:nth-child(1) a:hover{
    background-color: #1877F2;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #1DA1F2;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #0A66C2;
}
.allcontent p {
    margin: 20px 0px;
    font-size: 18px;
    color: #000000;
}


/* ================
media-queary 
=============*/
@media only screen and (max-width: 767px) {

    
    .container, .allcontent{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        box-sizing: border-box;
    }
    /* header-area */
    .hero-area{
        flex-direction: column;
    }
    .hero-text h1 {
        font-size: 45px;
        line-height: 70px;
        margin-bottom: 17px;
    }
    .hero-img img {
        width: 100%;
        height: auto;
        margin-top: 43px;
    }
    /* blog */
    .blogs{
        grid-template-columns: 1fr;
        grid-column-gap: 0;

    }
    .single-blog {
        width: 100%;
        height: auto;
        
    }
    .thumbnail {
        width: 100%;
        height: auto;
    }
    /* highlight-area */

    .highlight-area {
        align-items: stretch;
        flex-direction: column;
    }
    .highlight-text h1 {
        font-size: 45px;
        line-height: 52px;
    }
    .highlight-text p {
        width: 100%;
    }
    .highlight-text {
        margin: 15px 0;
    }
    /* galary-area */
    .photo-frame {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* tournament-area */
    .tournament-heading, .gallery-heading {
        font-size: 19px;
    }
    .stats-boxlist {
        flex-direction: column;
        align-items: center;
    }
    .grid-box {
        width: 99%;
    }
    /* footer */
    .footer-logo img {
        width: 322px;
        height: 99px;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }
    .blogs{
        grid-template-columns: repeat(2, 1fr);
    }
    .single-blog {
        width: 100%;
        height: auto;
    }
    .thumbnail {
        width: 100%;
    }
    .highlight-text h1 {
        font-size: 34px;
    }
    .highlight-text {
        width: 100%;
        order: 2;
    }
    .highlight-area{
        flex-direction: column;
    }
    .highlight-photo {
        order: 1;
        width: 100%;
    }
    
    .highlight-photo img {
        width: 100%;
    }
    .highlight-text p {
        width: 100%;
    }
    /* .tournament-heading */
    .grid-box {
        width: 49%;
    }
    .stats-boxlist {
        flex-wrap: wrap;
    }
    .tournament-button{
        text-align: center;
    }
}

